:root {
  --spacing: 7px;
  --font-base: 18px;

  --background: var( --color0 );
  --foreground: var( --color15 );

  /* black, gray, silver, white */
  --color0: black;
  --color8: gray;
  --color7: silver;
  --color15: white;

  /* red */
  --color1: red;
  --color9: red;

  /* green */
  --color2: green;
  --color10: green;

  /* yellow */
  --color3: yellow;
  --color11: yellow;

  /* blue */
  --color4: blue;
  --color12: lightskyblue;

  /* purple */
  --color5: purple;
  --color13: purple;

  /* teal */
  --color6: teal;
  --color14: cyan;
}

body {
  background: var( --background );
  color: var( --foreground );
  font-family: monospace;
  font-size: var( --font-base );
  font-weight: bold;
  padding: 0 calc( var( --spacing ) * 3 );
}

header {
  text-align: center;
}

header h1 {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: calc( var( --spacing ) * 2 ) 0;
}

h1 {
  background: var( --color4 );
  color: var( --color3 );
}

ul {
  margin: calc( var( --spacing ) * 3 );
}

ul li {
  color: var( --color5 );
}

ul li:before {
  content: '* ';
}

a {
  color: var( --color2 );
  text-decoration: none;
}

a:hover {
  color: var( --color3 );
}

p i {
  color: var( --color12 );
}

p, blockquote {
  margin: calc( var( --spacing ) * 2 ) 0;
}

blockquote {
  color: var( --color12 );
  margin: calc( var( --spacing ) * 2 );
}

cite {
  color: var( --color14 );
}

pre {
  white-space: pre;
  overflow-x: auto;
}

@media only screen and (max-width: 700px) {
  img {
    width: 100%;
  }
}
