<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/equalizer.min.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <title><%TITLE%></title>
  </head>

  <body>
    
    <header>
      <h1><%HEADER_TITLE%></h1>
    </header>

    <nav>
      <a href="<%HOME_URI%>">home</a> |
      <a href="/">entries</a> |
      <a href="/rss.xml">rss</a>
    </nav>

    <main>
      <%CONTENT%>
    </main>

    <footer>
      <p>
        released into public domain.
      </p>
    </footer>
  </body>
</html>
